<div id="walletsPerCatContainer" class="page-section selected">
{% include base_path %}

{% assign verdicts = "reproducible,nonverifiable,nosource,custodial,obfuscated" | split: "," %}
{% assign androidPosts = site.android | sort: "users" | reverse %}
{% assign iPhonePosts = site.iphone | sort: "reviews" | reverse %}

  <h2 class="section-label">Wallets per Category&nbsp;<a href="#gridOfWallets1" style="color:#ccc">&para;</a></h2>
<a class="switch-link-btn-long-string" id="SwitchToDownloadsView">Switch to Downloads per Category&nbsp;<i class="fas fa-random"></i></a>

<table id="gridOfWallets1" class="lazy">
  <tr>
    <td>
      <count><span class="humanised-numbers -bold"><l>0</l></span></count><label>Audited?</label>
    </td>
    <td>
    </td>
  </tr>
  {% for v in verdicts %}

    <tr class="-filter-element -iphone">
      {% assign total = 0 %}
      {% for post in iPhonePosts %}
        {% if post.verdict == v %}
          {% assign total = total | plus: 1 %}
        {% endif %}
      {% endfor %}
      <td>
        <count><span class="humanised-numbers -bold"><l>{{ total }}</l></span></count>
        <label class="stamp stamp-{{ site.data.verdicts[v].short }}">{{ site.data.verdicts[v].short }}</label>
      </td>
      <td>
        {% for post in iPhonePosts %}
          {% if post.verdict == v %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">
              <img loading="lazy" src="{{ base_path }}/images/wallet_icons/iphone/small/{{ post.icon }}" class="app_logo"
                alt="Wallet Logo" style="height:3em;width:auto;float:left;margin:0.3em">
            </a> 
          {% endif %}
        {% endfor %}
      </td>
    </tr>

    <tr class="-filter-element -android">
      {% assign total = 0 %}
      {% for post in androidPosts %}
        {% if post.verdict == v %}
          {% assign total = total | plus: 1 %}
        {% endif %}
      {% endfor %}
      <td>
        <count><span class="humanised-numbers -bold"><l>{{ total }}</l></span></count>
        <label class="stamp stamp-{{ site.data.verdicts[v].short }}">{{ site.data.verdicts[v].short }}</label>
      </td>
      <td>
        {% for post in androidPosts %}
          {% if post.verdict == v %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">
              <img loading="lazy" src="{{ base_path }}/images/wallet_icons/android/small/{{ post.icon }}" class="app_logo"
                alt="Wallet Logo" style="height:3em;width:3em;float:left;margin:0.3em">
            </a> 
          {% endif %}
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>

</div>
